footer {
    background-color: cadetblue;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    white-space: pre-line;
}
footer h4 {
    font-size: large;
    font-weight: bold;
}